@import url(https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap);
@font-face{
   font-family:'Zilla Slab', serif;
   src: url(https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap)
 }

body{
  font-family: 'Zilla Slab', serif;
  width: 100%;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
/************************/
/**"Jumbotron" Content**/
/**********************/
.top-box {
  margin: auto;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.datasci-card {
    font-family: 'Zilla Slab', serif !important ;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 300px;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right :10px;
    padding-left: 10px;
    padding-right: 10px;
    border-style:solid;
    border-width:3px;
    border-color:#000000;
    box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.9), 0 6px 20px 0 rgba(255,255,255, 0.9);
    -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;
  }
  .flipper {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    perspective: 1000px;
  }
  /* flip the pane when hovered */
  .flipper.flip .card {
    transform: rotateY(180deg);
  }
  .front,
  .back {
    font-family: 'Zilla Slab', serif !important ;
    width: 100%;
    padding: 5px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* front pane, placed above back */
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    height: 100%;
  }
  /* back, initially hidden pane */
  .back {
    transform: rotateY(180deg);
    height: 100%;
  }
  .goback {
    position: absolute;
    bottom: 0px;
    padding-left: 20px;
    left: 0px;
    text-decoration: underline;
    cursor: pointer;
  }

.col-sm-8 {
  margin-bottom: 30px;
}

.head-text{
  color:white;
}
.top-box-name {
  color: white !important;
  text-align: center;
  font-size: 72px;
  font-weight: 1000;
  padding-top:200px;
}

.top-box-text{
  color: #d9d9db !important;
  text-align: center;
  font-size: 28px;
}
.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #424244 !important;
  max-width:150px;
  max-height: 150px;
}

.photo_active {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #6710a5 !important;
  max-width:150px;
  max-height: 150px;
}


.bottom-section{
height: 300px;
}

/**************************/
/***Bottom Section********/
/**************************/
p {
    font-size: 1.1em;

    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3a424a;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    max-height: 730px;
    overflow-y: scroll;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #292d3e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}





/**************************/
/**The Scroll Bar Content**/
/**************************/

.menu{
  vertical-align:top;
  width: 23%;
  background: white;

  box-shadow: 0px 0px 15px #666666;
}

.menu_item{
font-size: 17px;
font-weight: bold;
margin: auto;
width:80%;
margin-bottom:10px;
cursor: pointer;
}

.menu_photo{
width:100%;
box-shadow: 0px 0px 15px #cccccc;
border-radius: 20px;
}


/*********************************/
/**Algorithm Description Content**/
/*********************************/
.algorithm_disc{
  display:table-cell;
  width:75%;
  box-shadow: 0px 0px 15px #666666;

}
.alg-content{
  text-align:left;
   padding:15px;
   overflow-y: scroll;
   height: 600px;
}
.alg-heading{
   font-size:24px;
}

.sub-heading{
  font-weight:bold;
  font-size:20px;
  color:#153CBE;
  margin-bottom:15px;
}
.alg-specs{
  font-size:15px;
  color:#444444;
}
.img-ml{
width:25%;
vertical-align:middle;
float:right;
border-radius:10px;
margin-left:15px;
margin-bottom:15px;
}

.footer{
  background: #d3d3d4;
  text-align:center;
}
